@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap');

*/:root {
  --primary-color: #D30F0F;
  --secondary-color: #236E4C;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: 'Oswald', sans-serif;
}

h1 {
  text-transform: uppercase;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: white;
  background-color: #2d231e;
  background-image: url("/pages/img/Background.JPG");
  min-height: 100vh;
  width: 100%;
}

.container {
  max-width: 26rem;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

a {
  color: rgb(213, 213, 213)
}

/* home page logo */
.logo-homepage {
  width: 75%;
  height: auto;
}

.logo {
  width: 140px;
  height: auto;
  margin-bottom: 1rem;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }

  30% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(0.95);
  }

  70% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}




/*

/* ======= CATEGORY SELECTOR ======= */
/*
.category-card img {
  max-width: 100%;
  margin-top: 1rem;
}

.category-card h2 {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  text-transform: uppercase;
  color: #236e4c;
}

.btns.stats:hover {
  background-color: #1fc89c;
  transform: scale(1.03);
  transition: all 0.2s ease;
}

.btns.start:hover {
  background-color: #e53935;
  transform: scale(1.03);
  transition: all 0.2s ease;
}

.home-card:hover,
.category-card:hover {
  background-color: transparent;
  box-shadow: none;
  padding: 1.5rem;
  text-align: center;
}

.app-header button:hover {
  color: #1fc89c;
  transform: scale(1.1);
  transition: all 0.2s ease;
}


.main-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 2rem;
}

.home-card,
.category-card {
  background-color: none;
  padding: 1.5rem;
  border-radius: 10px;
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.home-card img {
  max-width: 600px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .main-content {
    flex-direction: row;
    justify-content: space-around;
  }
}
*/
